In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("sales.csv")
df

,Date,Region,Country,City,Sales_Rep,Customer_ID,Customer_Name,Product_Category,Product_Subcategory,Product_Name,...,Days_to_Ship,Season,Quarter,Month,Year,Is_Weekend,Weather_Condition,Marketing_Campaign,Customer_Satisfaction,Return_Status
0,2024-01-05,North America,USA,New York,John Smith,C001,TechCorp Inc,Electronics,Smartphones,iPhone 15 Pro,...,3.0,Winter,Q1,January,2024.0,False,Clear,Email Campaign,4.2,No Return
1,2024-01-07,Europe,Germany,Berlin,Anna Mueller,C002,Digital Solutions,Electronics,Laptops,MacBook Air M2,...,5.0,Winter,Q1,January,2024.0,False,Cloudy,Social Media,3.8,No Return
2,2024-01-10,Asia,Japan,Tokyo,Hiroshi Tanaka,C003,Innovation Labs,Electronics,Tablets,iPad Pro 12.9,...,2.0,Winter,Q1,January,2024.0,False,Rainy,TV Ad,4.5,No Return
3,2024-01-12,North America,Canada,Toronto,Sarah Johnson,C004,StartupXYZ,Office Supplies,Furniture,Ergonomic Chair,...,7.0,Winter,Q1,January,2024.0,False,Snow,NaN,4.1,No Return
4,2024-01-15,Europe,UK,London,James Wilson,C005,MegaCorp Ltd,Electronics,Audio,AirPods Pro,...,4.0,Winter,Q1,January,2024.0,False,Foggy,Email Campaign,3.9,No Return
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2024-09-08,Europe,Monaco,Monaco,Prince Albert,C074,Luxury Goods,Clothing,Luxury,Diamond Watch,...,7.0,Spring,Q3,September,2024.0,True,Sunny,Monaco Grand Prix,4.7,No Return
74,2024-09-12,Asia,Fiji,Suva,Ratu Meli,C075,Resort,Sports & Fitness,Water Sports,Kayak,...,8.0,Spring,Q3,September,2024.0,False,Tropical,Island Adventure,4.4,No Return
75,2024-09-15,North America,USA,Austin,Willie Nelson,C076,Music Venue,Electronics,Audio,Sound System,...,9.0,Spring,Q3,September,2024.0,True,Hot,Music Festival,4.5,No Return
76,2024-09-18,Europe,San Marino,San Marino,Giuseppe Baldi,C077,Collectibles,Clothing,Accessories,Luxury Handbag,...,12.0,Spring,Q3,September,2024.0,False,Clear,Fashion Show,4.3,No Return
77,2024-09-22,Asia,Solomon Islands,Honiara,Peter Kenilorea,C078,Fishing Co,Sports & Fitness,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
a=df['Date']

In [16]:
print(type(a))

<class 'pandas.core.series.Series'>

In [17]:
b=df['Country']
b

0                 USA
1             Germany
2               Japan
3              Canada
4                  UK
           ...
73             Monaco
74               Fiji
75                USA
76         San Marino
77    Solomon Islands
Name: Country, Length: 78, dtype: object

In [18]:
print(type(b))

<class 'pandas.core.series.Series'>

In [23]:
s=df[['Date','Customer_Satisfaction']]
s

          Date  Customer_Satisfaction
0   2024-01-05                    4.2
1   2024-01-07                    3.8
2   2024-01-10                    4.5
3   2024-01-12                    4.1
4   2024-01-15                    3.9
..         ...                    ...
73  2024-09-08                    4.7
74  2024-09-12                    4.4
75  2024-09-15                    4.5
76  2024-09-18                    4.3
77  2024-09-22                    NaN

[78 rows x 2 columns]

In [24]:
c=df['Customer_Satisfaction']
c+2

0     6.2
1     5.8
2     6.5
3     6.1
4     5.9
     ...
73    6.7
74    6.4
75    6.5
76    6.3
77    NaN
Name: Customer_Satisfaction, Length: 78, dtype: float64

In [27]:
df["newcolumn"]=[x for x in range(78)]
df

,Date,Region,Country,City,Sales_Rep,Customer_ID,Customer_Name,Product_Category,Product_Subcategory,Product_Name,...,Season,Quarter,Month,Year,Is_Weekend,Weather_Condition,Marketing_Campaign,Customer_Satisfaction,Return_Status,newcolumn
0,2024-01-05,North America,USA,New York,John Smith,C001,TechCorp Inc,Electronics,Smartphones,iPhone 15 Pro,...,Winter,Q1,January,2024.0,False,Clear,Email Campaign,4.2,No Return,0
1,2024-01-07,Europe,Germany,Berlin,Anna Mueller,C002,Digital Solutions,Electronics,Laptops,MacBook Air M2,...,Winter,Q1,January,2024.0,False,Cloudy,Social Media,3.8,No Return,1
2,2024-01-10,Asia,Japan,Tokyo,Hiroshi Tanaka,C003,Innovation Labs,Electronics,Tablets,iPad Pro 12.9,...,Winter,Q1,January,2024.0,False,Rainy,TV Ad,4.5,No Return,2
3,2024-01-12,North America,Canada,Toronto,Sarah Johnson,C004,StartupXYZ,Office Supplies,Furniture,Ergonomic Chair,...,Winter,Q1,January,2024.0,False,Snow,NaN,4.1,No Return,3
4,2024-01-15,Europe,UK,London,James Wilson,C005,MegaCorp Ltd,Electronics,Audio,AirPods Pro,...,Winter,Q1,January,2024.0,False,Foggy,Email Campaign,3.9,No Return,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2024-09-08,Europe,Monaco,Monaco,Prince Albert,C074,Luxury Goods,Clothing,Luxury,Diamond Watch,...,Spring,Q3,September,2024.0,True,Sunny,Monaco Grand Prix,4.7,No Return,73
74,2024-09-12,Asia,Fiji,Suva,Ratu Meli,C075,Resort,Sports & Fitness,Water Sports,Kayak,...,Spring,Q3,September,2024.0,False,Tropical,Island Adventure,4.4,No Return,74
75,2024-09-15,North America,USA,Austin,Willie Nelson,C076,Music Venue,Electronics,Audio,Sound System,...,Spring,Q3,September,2024.0,True,Hot,Music Festival,4.5,No Return,75
76,2024-09-18,Europe,San Marino,San Marino,Giuseppe Baldi,C077,Collectibles,Clothing,Accessories,Luxury Handbag,...,Spring,Q3,September,2024.0,False,Clear,Fashion Show,4.3,No Return,76
77,2024-09-22,Asia,Solomon Islands,Honiara,Peter Kenilorea,C078,Fishing Co,Sports & Fitness,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77

In [29]:
d=np.array(c)
d

array([4.2, 3.8, 4.5, 4.1, 3.9, 4.3, 4.7, 4. , 3.7, 4.2, 3.8, 4.6, 4.1,
       4.4, 3.9, 4. , 4.5, 3.6, 4.3, 4.1, 4.4, 4.6, 4.2, 3.8, 4.5, 3.9,
       3.7, 4. , 4.3, 4.1, 4.4, 4.2, 4. , 4.1, 4.5, 3.8, 3.9, 4.3, 3.6,
       4.2, 4.4, 4.1, 3.9, 4. , 3.7, 4.3, 4.5, 4.1, 4.6, 4.2, 3.8, 4.4,
       4.1, 3.9, 4.5, 3.7, 4.3, 4. , 4.2, 4.4, 4.1, 4.3, 4.5, 4.2, 4. ,
       3.8, 4.4, 4.1, 4.3, 4.6, 4.2, 3.9, 4.1, 4.7, 4.4, 4.5, 4.3, nan])

In [32]:
dict1={'Name':[F'NAME{x}' for x in range(100)],"AGE": np.random.randint(20,60,100)}
dict1

{'Name': ['NAME0',
  'NAME1',
  'NAME2',
  'NAME3',
  'NAME4',
  'NAME5',
  'NAME6',
  'NAME7',
  'NAME8',
  'NAME9',
  'NAME10',
  'NAME11',
  'NAME12',
  'NAME13',
  'NAME14',
  'NAME15',
  'NAME16',
  'NAME17',
  'NAME18',
  'NAME19',
  'NAME20',
  'NAME21',
  'NAME22',
  'NAME23',
  'NAME24',
  'NAME25',
  'NAME26',
  'NAME27',
  'NAME28',
  'NAME29',
  'NAME30',
  'NAME31',
  'NAME32',
  'NAME33',
  'NAME34',
  'NAME35',
  'NAME36',
  'NAME37',
  'NAME38',
  'NAME39',
  'NAME40',
  'NAME41',
  'NAME42',
  'NAME43',
  'NAME44',
  'NAME45',
  'NAME46',
  'NAME47',
  'NAME48',
  'NAME49',
  'NAME50',
  'NAME51',
  'NAME52',
  'NAME53',
  'NAME54',
  'NAME55',
  'NAME56',
  'NAME57',
  'NAME58',
  'NAME59',
  'NAME60',
  'NAME61',
  'NAME62',
  'NAME63',
  'NAME64',
  'NAME65',
  'NAME66',
  'NAME67',
  'NAME68',
  'NAME69',
  'NAME70',
  'NAME71',
  'NAME72',
  'NAME73',
  'NAME74',
  'NAME75',
  'NAME76',
  'NAME77',
  'NAME78',
  'NAME79',
  'NAME80',
  'NAME81',
  'NAME82',
  'NAME83',
  'NAME84',
  'NAME85',
  'NAME86',
  'NAME87',
  'NAME88',
  'NAME89',
  'NAME90',
  'NAME91',
  'NAME92',
  'NAME93',
  'NAME94',
  'NAME95',
  'NAME96',
  'NAME97',
  'NAME98',
  'NAME99'],
 'AGE': array([32, 41, 52, 35, 41, 27, 55, 37, 27, 57, 50, 26, 54, 55, 33, 25, 52,
        44, 29, 36, 36, 41, 38, 39, 53, 30, 26, 27, 59, 52, 22, 50, 30, 28,
        30, 44, 27, 50, 41, 55, 43, 27, 41, 57, 22, 39, 20, 28, 45, 22, 23,
        21, 51, 37, 50, 30, 43, 33, 20, 36, 34, 40, 24, 50, 45, 55, 39, 58,
        41, 54, 32, 32, 52, 51, 28, 56, 45, 41, 29, 49, 57, 40, 57, 32, 23,
        46, 30, 48, 26, 20, 32, 24, 24, 30, 23, 43, 29, 59, 30, 26],
       dtype=int32)}

In [3]:
dr=pd.DataFrame({"name":["roshani","nida"],"div":["A","B"]})
dr

      name div
0  roshani   A
1     nida   B

In [4]:
dict2={"name":["roshani","nida"],"div":["A","B"]}
dict2

{'name': ['roshani', 'nida'], 'div': ['A', 'B']}

In [5]:
d=df[['Date','Region']]  # multiple data fetch
d

          Date         Region
0   2024-01-05  North America
1   2024-01-07         Europe
2   2024-01-10           Asia
3   2024-01-12  North America
4   2024-01-15         Europe
..         ...            ...
73  2024-09-08         Europe
74  2024-09-12           Asia
75  2024-09-15  North America
76  2024-09-18         Europe
77  2024-09-22           Asia

[78 rows x 2 columns]

In [7]:
b=df['Date']  #single data fetch
b

0     2024-01-05
1     2024-01-07
2     2024-01-10
3     2024-01-12
4     2024-01-15
         ...
73    2024-09-08
74    2024-09-12
75    2024-09-15
76    2024-09-18
77    2024-09-22
Name: Date, Length: 78, dtype: object

In [8]:
df.head()

,Date,Region,Country,City,Sales_Rep,Customer_ID,Customer_Name,Product_Category,Product_Subcategory,Product_Name,...,Days_to_Ship,Season,Quarter,Month,Year,Is_Weekend,Weather_Condition,Marketing_Campaign,Customer_Satisfaction,Return_Status
0,2024-01-05,North America,USA,New York,John Smith,C001,TechCorp Inc,Electronics,Smartphones,iPhone 15 Pro,...,3.0,Winter,Q1,January,2024.0,False,Clear,Email Campaign,4.2,No Return
1,2024-01-07,Europe,Germany,Berlin,Anna Mueller,C002,Digital Solutions,Electronics,Laptops,MacBook Air M2,...,5.0,Winter,Q1,January,2024.0,False,Cloudy,Social Media,3.8,No Return
2,2024-01-10,Asia,Japan,Tokyo,Hiroshi Tanaka,C003,Innovation Labs,Electronics,Tablets,iPad Pro 12.9,...,2.0,Winter,Q1,January,2024.0,False,Rainy,TV Ad,4.5,No Return
3,2024-01-12,North America,Canada,Toronto,Sarah Johnson,C004,StartupXYZ,Office Supplies,Furniture,Ergonomic Chair,...,7.0,Winter,Q1,January,2024.0,False,Snow,NaN,4.1,No Return
4,2024-01-15,Europe,UK,London,James Wilson,C005,MegaCorp Ltd,Electronics,Audio,AirPods Pro,...,4.0,Winter,Q1,January,2024.0,False,Foggy,Email Campaign,3.9,No Return

In [9]:
df.tail()

,Date,Region,Country,City,Sales_Rep,Customer_ID,Customer_Name,Product_Category,Product_Subcategory,Product_Name,...,Days_to_Ship,Season,Quarter,Month,Year,Is_Weekend,Weather_Condition,Marketing_Campaign,Customer_Satisfaction,Return_Status
73,2024-09-08,Europe,Monaco,Monaco,Prince Albert,C074,Luxury Goods,Clothing,Luxury,Diamond Watch,...,7.0,Spring,Q3,September,2024.0,True,Sunny,Monaco Grand Prix,4.7,No Return
74,2024-09-12,Asia,Fiji,Suva,Ratu Meli,C075,Resort,Sports & Fitness,Water Sports,Kayak,...,8.0,Spring,Q3,September,2024.0,False,Tropical,Island Adventure,4.4,No Return
75,2024-09-15,North America,USA,Austin,Willie Nelson,C076,Music Venue,Electronics,Audio,Sound System,...,9.0,Spring,Q3,September,2024.0,True,Hot,Music Festival,4.5,No Return
76,2024-09-18,Europe,San Marino,San Marino,Giuseppe Baldi,C077,Collectibles,Clothing,Accessories,Luxury Handbag,...,12.0,Spring,Q3,September,2024.0,False,Clear,Fashion Show,4.3,No Return
77,2024-09-22,Asia,Solomon Islands,Honiara,Peter Kenilorea,C078,Fishing Co,Sports & Fitness,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.head(3)

,Date,Region,Country,City,Sales_Rep,Customer_ID,Customer_Name,Product_Category,Product_Subcategory,Product_Name,...,Days_to_Ship,Season,Quarter,Month,Year,Is_Weekend,Weather_Condition,Marketing_Campaign,Customer_Satisfaction,Return_Status
0,2024-01-05,North America,USA,New York,John Smith,C001,TechCorp Inc,Electronics,Smartphones,iPhone 15 Pro,...,3.0,Winter,Q1,January,2024.0,False,Clear,Email Campaign,4.2,No Return
1,2024-01-07,Europe,Germany,Berlin,Anna Mueller,C002,Digital Solutions,Electronics,Laptops,MacBook Air M2,...,5.0,Winter,Q1,January,2024.0,False,Cloudy,Social Media,3.8,No Return
2,2024-01-10,Asia,Japan,Tokyo,Hiroshi Tanaka,C003,Innovation Labs,Electronics,Tablets,iPad Pro 12.9,...,2.0,Winter,Q1,January,2024.0,False,Rainy,TV Ad,4.5,No Return

In [14]:
df.loc[1,"Region"],df.loc[2,"Region"]

('Europe', 'Asia')

In [15]:
df.iloc[1,2]

'Germany'

In [20]:
deliver_before_time=df[df[	'Days_to_Ship']>4]
deliver_before_time

,Date,Region,Country,City,Sales_Rep,Customer_ID,Customer_Name,Product_Category,Product_Subcategory,Product_Name,...,Days_to_Ship,Season,Quarter,Month,Year,Is_Weekend,Weather_Condition,Marketing_Campaign,Customer_Satisfaction,Return_Status
1,2024-01-07,Europe,Germany,Berlin,Anna Mueller,C002,Digital Solutions,Electronics,Laptops,MacBook Air M2,...,5.0,Winter,Q1,January,2024.0,False,Cloudy,Social Media,3.8,No Return
3,2024-01-12,North America,Canada,Toronto,Sarah Johnson,C004,StartupXYZ,Office Supplies,Furniture,Ergonomic Chair,...,7.0,Winter,Q1,January,2024.0,False,Snow,NaN,4.1,No Return
5,2024-01-18,Asia,India,Mumbai,Priya Sharma,C006,Tech Innovators,Clothing,Men's Wear,Business Suit,...,6.0,Winter,Q1,January,2024.0,False,Clear,Print Ad,4.3,No Return
7,2024-01-22,Europe,France,Paris,Marie Dubois,C008,Fashion House,Clothing,Women's Wear,Designer Dress,...,5.0,Winter,Q1,January,2024.0,False,Cloudy,Fashion Show,4.0,No Return
9,2024-01-28,North America,Mexico,Mexico City,Carlos Rodriguez,C010,Local Business,Home & Garden,Tools,Power Drill Set,...,6.0,Winter,Q1,January,2024.0,False,Clear,Radio Ad,4.2,No Return
10,2024-02-02,Europe,Spain,Madrid,Isabella Garcia,C011,Construction Ltd,Home & Garden,Hardware,Screwdriver Set,...,8.0,Winter,Q1,February,2024.0,False,Sunny,NaN,3.8,No Return
12,2024-02-08,North America,USA,Chicago,David Miller,C013,Retail Chain,Clothing,Accessories,Leather Wallet,...,5.0,Winter,Q1,February,2024.0,False,Snow,Valentine Campaign,4.1,No Return
13,2024-02-12,Europe,Italy,Rome,Giuseppe Rossi,C014,Art Gallery,Home & Garden,Decor,Ceramic Vase,...,7.0,Winter,Q1,February,2024.0,False,Rainy,Art Exhibition,4.4,No Return
16,2024-02-22,Europe,Netherlands,Amsterdam,Erik van Berg,C017,Cycling Co,Sports & Fitness,Bicycles,Mountain Bike,...,6.0,Winter,Q1,February,2024.0,False,Windy,Cycling Event,4.5,No Return
17,2024-02-25,Asia,Thailand,Bangkok,Siriporn Wong,C018,Hotel Group,Home & Garden,Appliances,Air Conditioner,...,5.0,Winter,Q1,February,2024.0,False,Hot,Summer Prep,3.6,No Return
18,2024-02-28,North America,Canada,Vancouver,Robert Taylor,C019,Outdoor Gear,Sports & Fitness,Outdoor,Hiking Boots,...,7.0,Winter,Q1,February,2024.0,False,Rainy,Outdoor Expo,4.3,No Return
19,2024-03-05,Europe,Sweden,Stockholm,Astrid Larsson,C020,Green Energy,Home & Garden,Solar,Solar Panel Kit,...,10.0,Spring,Q1,March,2024.0,False,Clear,Green Expo,4.1,No Return
20,2024-03-08,Asia,Australia,Sydney,Jack Wilson,C021,Surf Shop,Sports & Fitness,Water Sports,Surfboard,...,5.0,Spring,Q1,March,2024.0,False,Sunny,Surf Competition,4.4,No Return
22,2024-03-15,Europe,Austria,Vienna,Hans Mueller,C023,Music Academy,Electronics,Audio,Studio Headphones,...,6.0,Spring,Q1,March,2024.0,False,Clear,Music Festival,4.2,No Return
24,2024-03-22,North America,USA,Seattle,Kevin Anderson,C025,Coffee Chain,Home & Garden,Kitchen,Espresso Machine,...,5.0,Spring,Q1,March,2024.0,False,Rainy,Coffee Festival,4.5,No Return
26,2024-03-28,Asia,Vietnam,Ho Chi Minh,Nguyen Tran,C027,Manufacturing,Electronics,Components,Circuit Boards,...,7.0,Spring,Q1,March,2024.0,False,Hot,Tech Summit,3.7,No Return
28,2024-04-05,Europe,Belgium,Brussels,Pierre Lambert,C029,Chocolate Factory,Food & Beverage,Confectionery,Premium Chocolates,...,5.0,Spring,Q2,April,2024.0,False,Cloudy,Easter Campaign,4.3,No Return
29,2024-04-08,Asia,Philippines,Manila,Maria Santos,C030,Retail Store,Electronics,Mobile,Android Phone,...,6.0,Spring,Q2,April,2024.0,False,Humid,Mobile Expo,4.1,No Return
31,2024-04-15,Europe,Greece,Athens,Dimitri Kostas,C032,Restaurant Chain,Home & Garden,Kitchen,Professional Blender,...,7.0,Spring,Q2,April,2024.0,False,Sunny,Culinary Expo,4.2,No Return
32,2024-04-18,Asia,Indonesia,Jakarta,Sari Dewi,C033,Beauty Salon,Beauty & Health,Skincare,Anti-Aging Cream,...,5.0,Spring,Q2,April,2024.0,False,Humid,Beauty Convention,4.0,No Return
34,2024-04-25,Europe,Czech Republic,Prague,Pavel Novak,C035,Brewery,Food & Beverage,Beverages,Craft Beer Set,...,6.0,Spring,Q2,April,2024.0,False,Clear,Beer Festival,4.5,No Return
36,2024-05-03,North America,USA,Atlanta,Thomas Wilson,C037,Logistics Co,Office Supplies,Shipping,Packaging Materials,...,5.0,Spring,Q2,May,2024.0,False,Clear,Logistics Expo,3.9,No Return
37,2024-05-06,Europe,Poland,Warsaw,Katarzyna Kowalski,C038,Fashion Boutique,Clothing,Designer,Evening Gown,...,8.0,Spring,Q2,May,2024.0,False,Rainy,Fashion Week,4.3,No Return
38,2024-05-10,Asia,Bangladesh,Dhaka,Rahman Ahmed,C039,Textile Mill,Clothing,Fabric,Cotton Fabric Roll,...,7.0,Spring,Q2,May,2024.0,False,Humid,Textile Expo,3.6,No Return
39,2024-05-13,North America,USA,Las Vegas,Jennifer Lopez,C040,Casino Resort,Entertainment,Gaming,Slot Machine,...,14.0,Spring,Q2,May,2024.0,False,Hot,Gaming Convention,4.2,No Return
40,2024-05-16,Europe,Hungary,Budapest,Zoltan Nagy,C041,Wine Producer,Food & Beverage,Alcohol,Premium Wine,...,6.0,Spring,Q2,May,2024.0,False,Clear,Wine Festival,4.4,No Return
41,2024-05-20,Asia,Sri Lanka,Colombo,Priyanka Silva,C042,Tea Company,Food & Beverage,Beverages,Ceylon Tea Set,...,5.0,Spring,Q2,May,2024.0,False,Humid,Tea Expo,4.1,No Return
42,2024-05-23,North America,USA,Houston,Carlos Martinez,C043,Oil Services,Home & Garden,Tools,Industrial Drill,...,10.0,Spring,Q2,May,2024.0,False,Hot,Energy Conference,3.9,No Return
44,2024-05-30,Asia,Cambodia,Phnom Penh,Sok Chanthy,C045,Agriculture,Home & Garden,Seeds,Rice Seeds,...,15.0,Spring,Q2,May,2024.0,False,Rainy,Agriculture Fair,3.7,No Return
46,2024-06-08,Europe,Croatia,Zagreb,Marko Petrovic,C047,Tourism Agency,Sports & Fitness,Travel,Hiking Gear Set,...,6.0,Summer,Q2,June,2024.0,True,Sunny,Adventure Expo,4.5,No Return
47,2024-06-12,Asia,Myanmar,Yangon,Thant Zin,C048,Gem Trading,Clothing,Jewelry,Ruby Ring,...,8.0,Summer,Q2,June,2024.0,False,Hot,Gem Fair,4.1,No Return
49,2024-06-18,Europe,Slovenia,Ljubljana,Nina Kovac,C050,Outdoor Sports,Sports & Fitness,Climbing,Rock Climbing Gear,...,5.0,Summer,Q2,June,2024.0,False,Clear,Climbing Festival,4.2,No Return
50,2024-06-22,Asia,Laos,Vientiane,Bounmy Phomma,C051,Handicrafts,Home & Garden,Decor,Wooden Sculpture,...,7.0,Summer,Q2,June,2024.0,False,Humid,Cultural Festival,3.8,No Return
51,2024-06-25,North America,USA,San Diego,Sarah Connor,C052,Biotech Firm,Beauty & Health,Medical,Lab Equipment,...,6.0,Summer,Q2,June,2024.0,False,Sunny,Biotech Conference,4.4,No Return
53,2024-07-02,Asia,Mongolia,Ulaanbaatar,Batbayar Ganbat,C054,Mining Company,Home & Garden,Tools,Mining Equipment,...,21.0,Summer,Q3,July,2024.0,False,Dry,Mining Expo,3.9,No Return
54,2024-07-05,North America,USA,Nashville,Johnny Cash,C055,Music Store,Electronics,Audio,Guitar Amplifier,...,5.0,Summer,Q3,July,2024.0,False,Hot,Music Festival,4.5,No Return
55,2024-07-08,Europe,Latvia,Riga,Janis Berzins,C056,Logistics Hub,Office Supplies,Storage,Warehouse Shelving,...,8.0,Summer,Q3,July,2024.0,False,Clear,Logistics Summit,3.7,No Return
56,2024-07-12,Asia,Nepal,Kathmandu,Pemba Sherpa,C057,Adventure Tours,Sports & Fitness,Outdoor,Mountain Tent,...,9.0,Summer,Q3,July,2024.0,False,Rainy,Adventure Expo,4.3,No Return
58,2024-07-18,Europe,Lithuania,Vilnius,Giedrius Petraitis,C059,Food Processing,Food & Beverage,Organic,Organic Honey,...,5.0,Summer,Q3,July,2024.0,False,Clear,Organic Fair,4.2,No Return
59,2024-07-22,Asia,Bhutan,Thimphu,Tenzin Norbu,C060,Handicrafts,Clothing,Traditional,Traditional Robe,...,12.0,Summer,Q3,July,2024.0,False,Cool,Cultural Festival,4.4,No Return
60,2024-07-25,North America,USA,Salt Lake City,Mormon Smith,C061,Outdoor Gear,Sports & Fitness,Winter,Ski Equipment,...,6.0,Summer,Q3,July,2024.0,False,Dry,Outdoor Expo,4.1,No Return
61,2024-07-28,Europe,Malta,Valletta,Mario Farrugia,C062,Marine Services,Sports & Fitness,Water Sports,Diving Gear,...,7.0,Summer,Q3,July,2024.0,True,Sunny,Diving Festival,4.3,No Return
63,2024-08-05,North America,USA,Anchorage,Sarah Palin,C064,Fishing Supplies,Sports & Fitness,Fishing,Fishing Rod Set,...,8.0,Summer,Q3,August,2024.0,False,Cool,Fishing Tournament,4.2,No Return
64,2024-08-08,Europe,Cyprus,Nicosia,Andreas Christou,C065,Wine Bar,Food & Beverage,Alcohol,Wine Collection,...,5.0,Summer,Q3,August,2024.0,False,Hot,Wine Tasting,4.0,No Return
65,2024-08-12,Asia,Brunei,Bandar Seri Begawan,Omar Abdullah,C066,Oil Services,Automotive,Fuel,Premium Gasoline,...,14.0,Summer,Q3,August,2024.0,False,Hot,Energy Summit,3.8,No Return
67,2024-08-18,Europe,Luxembourg,Luxembourg City,Jean Baptiste,C068,Banking,Office Supplies,Furniture,Executive Desk,...,10.0,Summer,Q3,August,2024.0,True,Clear,Office Expo,4.1,No Return
68,2024-08-22,Asia,East Timor,Dili,Jose Silva,C069,Coffee Farm,Food & Beverage,Beverages,Specialty Coffee,...,12.0,Summer,Q3,August,2024.0,False,Tropical,Coffee Festival,4.3,No Return
70,2024-08-28,Europe,Andorra,Andorra la Vella,Ramon Pujol,C071,Duty Free,Electronics,Cameras,Digital Camera,...,5.0,Summer,Q3,August,2024.0,False,Clear,Photography Workshop,4.2,No Return
71,2024-09-02,Asia,Papua New Guinea,Port Moresby,John Kaupa,C072,Mining Equipment,Home & Garden,Tools,Heavy Machinery,...,28.0,Spring,Q3,September,2024.0,False,Humid,Mining Conference,3.9,No Return
72,2024-09-05,North America,USA,Madison,Cheese Head,C073,Dairy Farm,Food & Beverage,Dairy,Artisan Cheese,...,6.0,Spring,Q3,September,2024.0,False,Cool,Harvest Festival,4.1,No Return
73,2024-09-08,Europe,Monaco,Monaco,Prince Albert,C074,Luxury Goods,Clothing,Luxury,Diamond Watch,...,7.0,Spring,Q3,September,2024.0,True,Sunny,Monaco Grand Prix,4.7,No Return
74,2024-09-12,Asia,Fiji,Suva,Ratu Meli,C075,Resort,Sports & Fitness,Water Sports,Kayak,...,8.0,Spring,Q3,September,2024.0,False,Tropical,Island Adventure,4.4,No Return
75,2024-09-15,North America,USA,Austin,Willie Nelson,C076,Music Venue,Electronics,Audio,Sound System,...,9.0,Spring,Q3,September,2024.0,True,Hot,Music Festival,4.5,No Return
76,2024-09-18,Europe,San Marino,San Marino,Giuseppe Baldi,C077,Collectibles,Clothing,Accessories,Luxury Handbag,...,12.0,Spring,Q3,September,2024.0,False,Clear,Fashion Show,4.3,No Return

In [ ]:
df[df['Days_to_Ship']>4] and df[df['Month']]

In [21]:
df.shape

(78, 35)

In [22]:
a,b=df.shape

In [23]:
a

78

In [24]:
b

35

In [25]:
df.isnull()   #

,Date,Region,Country,City,Sales_Rep,Customer_ID,Customer_Name,Product_Category,Product_Subcategory,Product_Name,...,Days_to_Ship,Season,Quarter,Month,Year,Is_Weekend,Weather_Condition,Marketing_Campaign,Customer_Satisfaction,Return_Status
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
75,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
76,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
77,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True

In [27]:
df.isnull().sum()

Date                     0
Region                   0
Country                  0
City                     0
Sales_Rep                0
Customer_ID              0
Customer_Name            0
Product_Category         0
Product_Subcategory      1
Product_Name             1
Brand                    1
Units_Sold               1
Unit_Price               1
Total_Revenue            1
Cost_Per_Unit            1
Total_Cost               1
Profit                   1
Profit_Margin            1
Discount_Percent         1
Channel                  1
Customer_Segment         1
Customer_Age             1
Customer_Gender          1
Order_Priority           1
Shipping_Cost            1
Days_to_Ship             1
Season                   1
Quarter                  1
Month                    1
Year                     1
Is_Weekend               1
Weather_Condition        1
Marketing_Campaign       3
Customer_Satisfaction    1
Return_Status            1
dtype: int64

In [29]:
df.notnull()

,Date,Region,Country,City,Sales_Rep,Customer_ID,Customer_Name,Product_Category,Product_Subcategory,Product_Name,...,Days_to_Ship,Season,Quarter,Month,Year,Is_Weekend,Weather_Condition,Marketing_Campaign,Customer_Satisfaction,Return_Status
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,False,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
74,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
75,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
76,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
77,True,True,True,True,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [38]:
df["Region"].unique()

<bound method Series.unique of 0     North America
1            Europe
2              Asia
3     North America
4            Europe
          ...
73           Europe
74             Asia
75    North America
76           Europe
77             Asia
Name: Region, Length: 78, dtype: object>

In [32]:
x=df["Product_Subcategory"]=="Audio"

In [33]:
y=df["Customer_Name"]=="Music Store"

In [34]:
x==y

0      True
1      True
2      True
3      True
4     False
      ...
73     True
74     True
75    False
76     True
77     True
Length: 78, dtype: bool

In [35]:
x

0     False
1     False
2     False
3     False
4      True
      ...
73    False
74    False
75     True
76    False
77    False
Name: Product_Subcategory, Length: 78, dtype: bool

In [36]:
y

0     False
1     False
2     False
3     False
4     False
      ...
73    False
74    False
75    False
76    False
77    False
Name: Customer_Name, Length: 78, dtype: bool

In [57]:

a=df[df['Region']=="North America"]
a["Units_Sold"].sum()
a["Units_Sold"].max()

np.float64(200.0)

In [44]:
a

,Date,Region,Country,City,Sales_Rep,Customer_ID,Customer_Name,Product_Category,Product_Subcategory,Product_Name,...,Days_to_Ship,Season,Quarter,Month,Year,Is_Weekend,Weather_Condition,Marketing_Campaign,Customer_Satisfaction,Return_Status
0,2024-01-05,North America,USA,New York,John Smith,C001,TechCorp Inc,Electronics,Smartphones,iPhone 15 Pro,...,3.0,Winter,Q1,January,2024.0,False,Clear,Email Campaign,4.2,No Return
3,2024-01-12,North America,Canada,Toronto,Sarah Johnson,C004,StartupXYZ,Office Supplies,Furniture,Ergonomic Chair,...,7.0,Winter,Q1,January,2024.0,False,Snow,NaN,4.1,No Return
6,2024-01-20,North America,USA,Los Angeles,Michael Brown,C007,Creative Agency,Electronics,Cameras,Canon EOS R5,...,3.0,Winter,Q1,January,2024.0,True,Sunny,Google Ads,4.7,No Return
9,2024-01-28,North America,Mexico,Mexico City,Carlos Rodriguez,C010,Local Business,Home & Garden,Tools,Power Drill Set,...,6.0,Winter,Q1,January,2024.0,False,Clear,Radio Ad,4.2,No Return
12,2024-02-08,North America,USA,Chicago,David Miller,C013,Retail Chain,Clothing,Accessories,Leather Wallet,...,5.0,Winter,Q1,February,2024.0,False,Snow,Valentine Campaign,4.1,No Return
15,2024-02-18,North America,USA,Miami,Jennifer Davis,C016,Resort Chain,Clothing,Swimwear,Bikini Set,...,4.0,Winter,Q1,February,2024.0,True,Sunny,Beach Campaign,4.0,No Return
18,2024-02-28,North America,Canada,Vancouver,Robert Taylor,C019,Outdoor Gear,Sports & Fitness,Outdoor,Hiking Boots,...,7.0,Winter,Q1,February,2024.0,False,Rainy,Outdoor Expo,4.3,No Return
21,2024-03-12,North America,USA,San Francisco,Lisa Chen,C022,Tech Startup,Electronics,Wearables,Apple Watch Ultra,...,3.0,Spring,Q1,March,2024.0,False,Foggy,Tech Conference,4.6,No Return
24,2024-03-22,North America,USA,Seattle,Kevin Anderson,C025,Coffee Chain,Home & Garden,Kitchen,Espresso Machine,...,5.0,Spring,Q1,March,2024.0,False,Rainy,Coffee Festival,4.5,No Return
27,2024-04-02,North America,USA,Boston,Amanda White,C028,University,Office Supplies,Books,Textbook Set,...,4.0,Spring,Q2,April,2024.0,False,Clear,Back to School,4.0,No Return
30,2024-04-12,North America,USA,Denver,Mark Johnson,C031,Sports Store,Sports & Fitness,Equipment,Tennis Racket,...,4.0,Spring,Q2,April,2024.0,False,Clear,Tennis Tournament,4.4,No Return
33,2024-04-22,North America,USA,Phoenix,Patricia Garcia,C034,Healthcare Center,Beauty & Health,Medical,Blood Pressure Monitor,...,3.0,Spring,Q2,April,2024.0,False,Hot,Health Fair,4.1,No Return
36,2024-05-03,North America,USA,Atlanta,Thomas Wilson,C037,Logistics Co,Office Supplies,Shipping,Packaging Materials,...,5.0,Spring,Q2,May,2024.0,False,Clear,Logistics Expo,3.9,No Return
39,2024-05-13,North America,USA,Las Vegas,Jennifer Lopez,C040,Casino Resort,Entertainment,Gaming,Slot Machine,...,14.0,Spring,Q2,May,2024.0,False,Hot,Gaming Convention,4.2,No Return
42,2024-05-23,North America,USA,Houston,Carlos Martinez,C043,Oil Services,Home & Garden,Tools,Industrial Drill,...,10.0,Spring,Q2,May,2024.0,False,Hot,Energy Conference,3.9,No Return
45,2024-06-05,North America,USA,Portland,Rachel Green,C046,Eco Products,Home & Garden,Sustainable,Solar Charger,...,4.0,Summer,Q2,June,2024.0,False,Cloudy,Green Living Expo,4.3,No Return
48,2024-06-15,North America,USA,Orlando,Michael Johnson,C049,Theme Park,Entertainment,Merchandise,Character Plushie,...,3.0,Summer,Q2,June,2024.0,True,Hot,Summer Vacation,4.6,No Return
51,2024-06-25,North America,USA,San Diego,Sarah Connor,C052,Biotech Firm,Beauty & Health,Medical,Lab Equipment,...,6.0,Summer,Q2,June,2024.0,False,Sunny,Biotech Conference,4.4,No Return
54,2024-07-05,North America,USA,Nashville,Johnny Cash,C055,Music Store,Electronics,Audio,Guitar Amplifier,...,5.0,Summer,Q3,July,2024.0,False,Hot,Music Festival,4.5,No Return
57,2024-07-15,North America,USA,Detroit,Robert Ford,C058,Auto Parts,Automotive,Parts,Brake Pads Set,...,4.0,Summer,Q3,July,2024.0,False,Clear,Auto Show,4.0,No Return
60,2024-07-25,North America,USA,Salt Lake City,Mormon Smith,C061,Outdoor Gear,Sports & Fitness,Winter,Ski Equipment,...,6.0,Summer,Q3,July,2024.0,False,Dry,Outdoor Expo,4.1,No Return
63,2024-08-05,North America,USA,Anchorage,Sarah Palin,C064,Fishing Supplies,Sports & Fitness,Fishing,Fishing Rod Set,...,8.0,Summer,Q3,August,2024.0,False,Cool,Fishing Tournament,4.2,No Return
66,2024-08-15,North America,USA,Honolulu,Kai Nakamura,C067,Surf Shop,Sports & Fitness,Water Sports,Surf Wax,...,3.0,Summer,Q3,August,2024.0,False,Tropical,Surf Competition,4.4,No Return
69,2024-08-25,North America,USA,Burlington,Ben Jerry,C070,Ice Cream Shop,Food & Beverage,Frozen,Premium Ice Cream,...,2.0,Summer,Q3,August,2024.0,True,Hot,Summer Festival,4.6,No Return
72,2024-09-05,North America,USA,Madison,Cheese Head,C073,Dairy Farm,Food & Beverage,Dairy,Artisan Cheese,...,6.0,Spring,Q3,September,2024.0,False,Cool,Harvest Festival,4.1,No Return
75,2024-09-15,North America,USA,Austin,Willie Nelson,C076,Music Venue,Electronics,Audio,Sound System,...,9.0,Spring,Q3,September,2024.0,True,Hot,Music Festival,4.5,No Return

In [58]:
b=df[df['Region']=="Europe"]
print(b)
b["Units_Sold"].sum()
b["Units_Sold"].max()

          Date  Region         Country              City           Sales_Rep  \
1   2024-01-07  Europe         Germany            Berlin        Anna Mueller
4   2024-01-15  Europe              UK            London        James Wilson
7   2024-01-22  Europe          France             Paris        Marie Dubois
10  2024-02-02  Europe           Spain            Madrid     Isabella Garcia
13  2024-02-12  Europe           Italy              Rome      Giuseppe Rossi
16  2024-02-22  Europe     Netherlands         Amsterdam       Erik van Berg
19  2024-03-05  Europe          Sweden         Stockholm      Astrid Larsson
22  2024-03-15  Europe         Austria            Vienna        Hans Mueller
25  2024-03-25  Europe        Portugal            Lisbon          Ana Santos
28  2024-04-05  Europe         Belgium          Brussels      Pierre Lambert
31  2024-04-15  Europe          Greece            Athens      Dimitri Kostas
34  2024-04-25  Europe  Czech Republic            Prague         Pavel Novak
37  2024-05-06  Europe          Poland            Warsaw  Katarzyna Kowalski
40  2024-05-16  Europe         Hungary          Budapest         Zoltan Nagy
43  2024-05-27  Europe         Romania         Bucharest       Elena Popescu
46  2024-06-08  Europe         Croatia            Zagreb      Marko Petrovic
49  2024-06-18  Europe        Slovenia         Ljubljana          Nina Kovac
52  2024-06-28  Europe         Estonia           Tallinn         Andres Kask
55  2024-07-08  Europe          Latvia              Riga       Janis Berzins
58  2024-07-18  Europe       Lithuania           Vilnius  Giedrius Petraitis
61  2024-07-28  Europe           Malta          Valletta      Mario Farrugia
64  2024-08-08  Europe          Cyprus           Nicosia    Andreas Christou
67  2024-08-18  Europe      Luxembourg   Luxembourg City       Jean Baptiste
70  2024-08-28  Europe         Andorra  Andorra la Vella         Ramon Pujol
73  2024-09-08  Europe          Monaco            Monaco       Prince Albert
76  2024-09-18  Europe      San Marino        San Marino      Giuseppe Baldi

   Customer_ID      Customer_Name  Product_Category Product_Subcategory  \
1         C002  Digital Solutions       Electronics             Laptops
4         C005       MegaCorp Ltd       Electronics               Audio
7         C008      Fashion House          Clothing        Women's Wear
10        C011   Construction Ltd     Home & Garden            Hardware
13        C014        Art Gallery     Home & Garden               Decor
16        C017         Cycling Co  Sports & Fitness            Bicycles
19        C020       Green Energy     Home & Garden               Solar
22        C023      Music Academy       Electronics               Audio
25        C026      Tourism Board          Clothing              Casual
28        C029  Chocolate Factory   Food & Beverage       Confectionery
31        C032   Restaurant Chain     Home & Garden             Kitchen
34        C035            Brewery   Food & Beverage           Beverages
37        C038   Fashion Boutique          Clothing            Designer
40        C041      Wine Producer   Food & Beverage             Alcohol
43        C044        IT Services       Electronics            Software
46        C047     Tourism Agency  Sports & Fitness              Travel
49        C050     Outdoor Sports  Sports & Fitness            Climbing
52        C053       Tech Startup       Electronics            Software
55        C056      Logistics Hub   Office Supplies             Storage
58        C059    Food Processing   Food & Beverage             Organic
61        C062    Marine Services  Sports & Fitness        Water Sports
64        C065           Wine Bar   Food & Beverage             Alcohol
67        C068            Banking   Office Supplies           Furniture
70        C071          Duty Free       Electronics             Cameras
73        C074       Luxury Goods          Clothing              Luxury
76        C077       Collectibles          Clothing         Accessories

            Product_Name  ... Days_to_Ship  Season  Quarter      Month  \
1         MacBook Air M2  ...          5.0  Winter       Q1    January
4            AirPods Pro  ...          4.0  Winter       Q1    January
7         Designer Dress  ...          5.0  Winter       Q1    January
10       Screwdriver Set  ...          8.0  Winter       Q1   February
13          Ceramic Vase  ...          7.0  Winter       Q1   February
16         Mountain Bike  ...          6.0  Winter       Q1   February
19       Solar Panel Kit  ...         10.0  Spring       Q1      March
22     Studio Headphones  ...          6.0  Spring       Q1      March
25    T-Shirt Collection  ...          3.0  Spring       Q1      March
28    Premium Chocolates  ...          5.0  Spring       Q2      April
31  Professional Blender  ...          7.0  Spring       Q2      April
34        Craft Beer Set  ...          6.0  Spring       Q2      April
37          Evening Gown  ...          8.0  Spring       Q2        May
40          Premium Wine  ...          6.0  Spring       Q2        May
43       Antivirus Suite  ...          3.0  Spring       Q2        May
46       Hiking Gear Set  ...          6.0  Summer       Q2       June
49    Rock Climbing Gear  ...          5.0  Summer       Q2       June
52    Mobile App License  ...          4.0  Summer       Q2       June
55    Warehouse Shelving  ...          8.0  Summer       Q3       July
58         Organic Honey  ...          5.0  Summer       Q3       July
61           Diving Gear  ...          7.0  Summer       Q3       July
64       Wine Collection  ...          5.0  Summer       Q3     August
67        Executive Desk  ...         10.0  Summer       Q3     August
70        Digital Camera  ...          5.0  Summer       Q3     August
73         Diamond Watch  ...          7.0  Spring       Q3  September
76        Luxury Handbag  ...         12.0  Spring       Q3  September

      Year  Is_Weekend  Weather_Condition    Marketing_Campaign  \
1   2024.0       False             Cloudy          Social Media
4   2024.0       False              Foggy        Email Campaign
7   2024.0       False             Cloudy          Fashion Show
10  2024.0       False              Sunny                   NaN
13  2024.0       False              Rainy        Art Exhibition
16  2024.0       False              Windy         Cycling Event
19  2024.0       False              Clear            Green Expo
22  2024.0       False              Clear        Music Festival
25  2024.0       False              Sunny      Tourism Campaign
28  2024.0       False             Cloudy       Easter Campaign
31  2024.0       False              Sunny         Culinary Expo
34  2024.0       False              Clear         Beer Festival
37  2024.0       False              Rainy          Fashion Week
40  2024.0       False              Clear         Wine Festival
43  2024.0       False              Clear         IT Conference
46  2024.0        True              Sunny        Adventure Expo
49  2024.0       False              Clear     Climbing Festival
52  2024.0       False              Clear         Startup Pitch
55  2024.0       False              Clear      Logistics Summit
58  2024.0       False              Clear          Organic Fair
61  2024.0        True              Sunny       Diving Festival
64  2024.0       False                Hot          Wine Tasting
67  2024.0        True              Clear           Office Expo
70  2024.0       False              Clear  Photography Workshop
73  2024.0        True              Sunny     Monaco Grand Prix
76  2024.0       False              Clear          Fashion Show

    Customer_Satisfaction Return_Status
1                     3.8     No Return
4                     3.9     No Return
7                     4.0     No Return
10                    3.8     No Return
13                    4.4     No Return
16                    4.5     No Return
19                    4.1     No Return
22                    4.2     No Return
25                    3.9     No Return
28                    4.3     No Return
31                    4.2     No Return
34                    4.5     No Return
37                    4.3     No Return
40                    4.4     No Return
43                    4.0     No Return
46                    4.5     No Return
49                    4.2     No Return
52                    4.1     No Return
55                    3.7     No Return
58                    4.2     No Return
61                    4.3     No Return
64                    4.0     No Return
67                    4.1     No Return
70                    4.2     No Return
73                    4.7     No Return
76                    4.3     No Return

[26 rows x 35 columns]

np.float64(100.0)

In [62]:
c=df[df['Region']=="Asia"]
print(c)
c["Units_Sold"].sum()
c1=["Units_Sold"].mean()
c2=["Units_Sold">c1].shape

          Date Region           Country                 City        Sales_Rep  \
2   2024-01-10   Asia             Japan                Tokyo   Hiroshi Tanaka
5   2024-01-18   Asia             India               Mumbai     Priya Sharma
8   2024-01-25   Asia             China             Shanghai           Li Wei
11  2024-02-05   Asia       South Korea                Seoul     Park Min-jun
14  2024-02-15   Asia         Singapore            Singapore        Raj Patel
17  2024-02-25   Asia          Thailand              Bangkok    Siriporn Wong
20  2024-03-08   Asia         Australia               Sydney      Jack Wilson
23  2024-03-18   Asia          Malaysia         Kuala Lumpur      Fatimah Ali
26  2024-03-28   Asia           Vietnam          Ho Chi Minh      Nguyen Tran
29  2024-04-08   Asia       Philippines               Manila     Maria Santos
32  2024-04-18   Asia         Indonesia              Jakarta        Sari Dewi
35  2024-04-28   Asia            Taiwan               Taipei      Lin Yu-chen
38  2024-05-10   Asia        Bangladesh                Dhaka     Rahman Ahmed
41  2024-05-20   Asia         Sri Lanka              Colombo   Priyanka Silva
44  2024-05-30   Asia          Cambodia           Phnom Penh      Sok Chanthy
47  2024-06-12   Asia           Myanmar               Yangon        Thant Zin
50  2024-06-22   Asia              Laos            Vientiane    Bounmy Phomma
53  2024-07-02   Asia          Mongolia          Ulaanbaatar  Batbayar Ganbat
56  2024-07-12   Asia             Nepal            Kathmandu     Pemba Sherpa
59  2024-07-22   Asia            Bhutan              Thimphu     Tenzin Norbu
62  2024-08-01   Asia          Maldives                 Male     Ahmed Hassan
65  2024-08-12   Asia            Brunei  Bandar Seri Begawan    Omar Abdullah
68  2024-08-22   Asia        East Timor                 Dili       Jose Silva
71  2024-09-02   Asia  Papua New Guinea         Port Moresby       John Kaupa
74  2024-09-12   Asia              Fiji                 Suva        Ratu Meli
77  2024-09-22   Asia   Solomon Islands              Honiara  Peter Kenilorea

   Customer_ID       Customer_Name  Product_Category Product_Subcategory  \
2         C003     Innovation Labs       Electronics             Tablets
5         C006     Tech Innovators          Clothing          Men's Wear
8         C009    Manufacturing Co   Office Supplies          Stationery
11        C012     Electronics Hub       Electronics              Gaming
14        C015  Financial Services   Office Supplies         Electronics
17        C018         Hotel Group     Home & Garden          Appliances
20        C021           Surf Shop  Sports & Fitness        Water Sports
23        C024     Trading Company   Office Supplies               Paper
26        C027       Manufacturing       Electronics          Components
29        C030        Retail Store       Electronics              Mobile
32        C033        Beauty Salon   Beauty & Health            Skincare
35        C036     Electronics Mfg       Electronics      Semiconductors
38        C039        Textile Mill          Clothing              Fabric
41        C042         Tea Company   Food & Beverage           Beverages
44        C045         Agriculture     Home & Garden               Seeds
47        C048         Gem Trading          Clothing             Jewelry
50        C051         Handicrafts     Home & Garden               Decor
53        C054      Mining Company     Home & Garden               Tools
56        C057     Adventure Tours  Sports & Fitness             Outdoor
59        C060         Handicrafts          Clothing         Traditional
62        C063        Resort Chain  Sports & Fitness        Water Sports
65        C066        Oil Services        Automotive                Fuel
68        C069         Coffee Farm   Food & Beverage           Beverages
71        C072    Mining Equipment     Home & Garden               Tools
74        C075              Resort  Sports & Fitness        Water Sports
77        C078          Fishing Co  Sports & Fitness                 NaN

          Product_Name  ... Days_to_Ship  Season  Quarter      Month    Year  \
2        iPad Pro 12.9  ...          2.0  Winter       Q1    January  2024.0
5        Business Suit  ...          6.0  Winter       Q1    January  2024.0
8      Premium Pen Set  ...          4.0  Winter       Q1    January  2024.0
11       PlayStation 5  ...          3.0  Winter       Q1   February  2024.0
14      Wireless Mouse  ...          2.0  Winter       Q1   February  2024.0
17     Air Conditioner  ...          5.0  Winter       Q1   February  2024.0
20           Surfboard  ...          5.0  Spring       Q1      March  2024.0
23       Premium Paper  ...          4.0  Spring       Q1      March  2024.0
26      Circuit Boards  ...          7.0  Spring       Q1      March  2024.0
29       Android Phone  ...          6.0  Spring       Q2      April  2024.0
32    Anti-Aging Cream  ...          5.0  Spring       Q2      April  2024.0
35        Memory Chips  ...          4.0  Spring       Q2      April  2024.0
38  Cotton Fabric Roll  ...          7.0  Spring       Q2        May  2024.0
41      Ceylon Tea Set  ...          5.0  Spring       Q2        May  2024.0
44          Rice Seeds  ...         15.0  Spring       Q2        May  2024.0
47           Ruby Ring  ...          8.0  Summer       Q2       June  2024.0
50    Wooden Sculpture  ...          7.0  Summer       Q2       June  2024.0
53    Mining Equipment  ...         21.0  Summer       Q3       July  2024.0
56       Mountain Tent  ...          9.0  Summer       Q3       July  2024.0
59    Traditional Robe  ...         12.0  Summer       Q3       July  2024.0
62      Snorkeling Set  ...          4.0  Summer       Q3     August  2024.0
65    Premium Gasoline  ...         14.0  Summer       Q3     August  2024.0
68    Specialty Coffee  ...         12.0  Summer       Q3     August  2024.0
71     Heavy Machinery  ...         28.0  Spring       Q3  September  2024.0
74               Kayak  ...          8.0  Spring       Q3  September  2024.0
77                 NaN  ...          NaN     NaN      NaN        NaN     NaN

    Is_Weekend  Weather_Condition  Marketing_Campaign  Customer_Satisfaction  \
2        False              Rainy               TV Ad                    4.5
5        False              Clear            Print Ad                    4.3
8        False             Smoggy     WeChat Campaign                    3.7
11       False              Clear   Gaming Convention                    4.6
14       False              Humid   LinkedIn Campaign                    3.9
17       False                Hot         Summer Prep                    3.6
20       False              Sunny    Surf Competition                    4.4
23       False              Humid         Office Expo                    3.8
26       False                Hot         Tech Summit                    3.7
29       False              Humid         Mobile Expo                    4.1
32       False              Humid   Beauty Convention                    4.0
35        True             Cloudy           Tech Fair                    3.8
38       False              Humid        Textile Expo                    3.6
41       False              Humid            Tea Expo                    4.1
44       False              Rainy    Agriculture Fair                    3.7
47       False                Hot            Gem Fair                    4.1
50       False              Humid   Cultural Festival                    3.8
53       False                Dry         Mining Expo                    3.9
56       False              Rainy      Adventure Expo                    4.3
59       False               Cool   Cultural Festival                    4.4
62       False           Tropical   Water Sports Fair                    4.5
65       False                Hot       Energy Summit                    3.8
68       False           Tropical     Coffee Festival                    4.3
71       False              Humid   Mining Conference                    3.9
74       False           Tropical    Island Adventure                    4.4
77         NaN                NaN                 NaN                    NaN

   Return_Status
2      No Return
5      No Return
8      No Return
11     No Return
14     No Return
17     No Return
20     No Return
23     No Return
26     No Return
29     No Return
32     No Return
35     No Return
38     No Return
41     No Return
44     No Return
47     No Return
50     No Return
53     No Return
56     No Return
59     No Return
62     No Return
65     No Return
68     No Return
71     No Return
74     No Return
77           NaN

[26 rows x 35 columns]

AttributeError: 'list' object has no attribute 'mean'

In [50]:
df["Units_Sold"].sum()

np.float64(9088.0)

In [63]:
mean=a["Units_Sold"].mean()

In [65]:
a[a["Units_Sold"]>mean].shape

(6, 35)

In [66]:
b[b["Units_Sold"]>mean].shape

(5, 35)

In [67]:
c[c["Units_Sold"]>mean].shape

(9, 35)

In [4]:
d={"NAME":["Ashutosh","Roshani","nida",np.nan,"nikita"],"Age":[32,20,np.nan,34,23],"Gender":["M","F","F",np.nan,"f"],"salary":[100000,120000,340000,500000,np.nan]}
e=pd.DataFrame(d)
e

       NAME   Age Gender    salary
0  Ashutosh  32.0      M  100000.0
1   Roshani  20.0      F  120000.0
2      nida   NaN      F  340000.0
3       NaN  34.0    NaN  500000.0
4    nikita  23.0      f       NaN

In [8]:
e.fillna("empty")

       NAME    Age Gender    salary
0  Ashutosh   32.0      M  100000.0
1   Roshani   20.0      F  120000.0
2      nida  empty      F  340000.0
3     empty   34.0  empty  500000.0
4    nikita   23.0      f     empty

In [9]:
e["salary"].mean()

np.float64(265000.0)

In [11]:
p=e["salary"]

In [12]:
p.mean()

np.float64(265000.0)

In [13]:
p

0    100000.0
1    120000.0
2    340000.0
3    500000.0
4         NaN
Name: salary, dtype: float64

In [14]:
p.fillna(265000.0,inplace=True)

In [15]:
p

0    100000.0
1    120000.0
2    340000.0
3    500000.0
4    265000.0
Name: salary, dtype: float64

In [16]:
e["salary"]=p

In [17]:
e

       NAME   Age Gender    salary
0  Ashutosh  32.0      M  100000.0
1   Roshani  20.0      F  120000.0
2      nida   NaN      F  340000.0
3       NaN  34.0    NaN  500000.0
4    nikita  23.0      f  265000.0

In [18]:
q=e["Gender"]

In [19]:
q

0      M
1      F
2      F
3    NaN
4      f
Name: Gender, dtype: object

In [20]:
q.fillna(method="ffill",inplace=True)

C:\Users\Quastech\AppData\Local\Temp\ipykernel_6972\20530115.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  q.fillna(method="ffill",inplace=True)

In [21]:
e

       NAME   Age Gender    salary
0  Ashutosh  32.0      M  100000.0
1   Roshani  20.0      F  120000.0
2      nida   NaN      F  340000.0
3       NaN  34.0      F  500000.0
4    nikita  23.0      f  265000.0

In [30]:
r=e["Age"]

In [31]:
r.fillna(method="ffill",inplace=True)

C:\Users\Quastech\AppData\Local\Temp\ipykernel_6972\561918151.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  r.fillna(method="ffill",inplace=True)

In [26]:
q

0                                                      M
1                                                      F
2                                                      F
3                                                      F
4                                                      f
Age           NAME   Age Gender    salary
0  Ashutosh...
Name: Gender, dtype: object

In [32]:
e

       NAME   Age Gender    salary
0  Ashutosh  32.0      M  100000.0
1   Roshani  20.0      F  120000.0
2      nida  20.0      F  340000.0
3       NaN  34.0      F  500000.0
4    nikita  23.0      f  265000.0

In [33]:
t=e["NAME"]

In [35]:
t.fillna("savi",inplace=True)

In [1]:
data={"name":["mansi","rakesh","rani",np.nan],"surname":["mane","salekar",np.nan,"gadage"],"age":[20,np.nan,43,23]}
s=pd.DataFrame(data)
s

NameError: name 'np' is not defined

In [36]:
e

       NAME   Age Gender    salary
0  Ashutosh  32.0      M  100000.0
1   Roshani  20.0      F  120000.0
2      nida  20.0      F  340000.0
3      savi  34.0      F  500000.0
4    nikita  23.0      f  265000.0

In [45]:
s.fillna({"name":"unknown","surname":"salekar","age":s["age"].mean()})

      name  surname        age
0    mansi     mane  20.000000
1   rakesh  salekar  28.666667
2     rani  salekar  43.000000
3  unknown   gadage  23.000000

In [46]:
e.groupby("Gender")

In [51]:
e.groupby("Gender")["salary"].agg({"sum","mean","count","max","min"})

             min       max      mean       sum  count
Gender
F       120000.0  500000.0  320000.0  960000.0      3
M       100000.0  100000.0  100000.0  100000.0      1
f       265000.0  265000.0  265000.0  265000.0      1